@supports (grid-area: auto) {

    @media screen and (min-width: 300px) {
        .site {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "header"
                "one"
                "two"
                "three"
                "four"
                "five"
                "six"
                "seven"
                "eight"
                "footer";
            row-gap: 1em;
        }
        .header {
            grid-area: header;
        }

        .project-one {
            grid-area: one;
        }

        .project-two {
            grid-area: two;
        }

        .project-three {
            grid-area: three;
        }

        .project-four {
            grid-area: four;
        }

        .project-five {
            grid-area: five;
        }

        .project-six {
            grid-area: six;
        }

        .project-seven {
            grid-area: seven;
        }

        .project-eight {
            grid-area: eight;
        }

        .footer {
            grid-area: footer;
        }
    }
    @media screen and (min-width: 500px) {
        .site {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "header header"
                "one four"
                "two three"
                "five eight"
                "six seven"
                "footer footer";
            grid-gap: 1em;
        }
        
    }
    @media screen and (min-width: 950px) /*was801*/ {

        .site{
            /*display: grid;*/
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr 1fr 1fr; 
            grid-template-areas: 
                "header header header"
                "one two four"
                "one three four"
                "five six eight"
                "five seven eight"
                "footer footer footer";
            grid-gap: 1em;
        }
}